<div class="row">
  <div class="col-md-6 col-md-offset-3 text-center">
    <% if params[:plan] == '2' %>
      <h1>Post a Job</h1>
      <p>Connect with skilled React.js Developers</p>
      <p>List a job for 30 days for only $29</p>
    <% else %>
      <h1>Create a Free Profile</h1>
      <p>Connect with Employers looking to hire React.js Developers</p>
    <% end %>
  </div>
  <div class="col-md-6 col-md-offset-3">
    <div class="well">
    <h2>Sign up</h2>
    <% if params[:plan] == '2' %>
      <%= render "employer_form" %>
    <% else %>
      <%= render "developer_form" %>
    <% end %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
<div class="spacebreak">
</div>