<title>React Work | Find React.js Jobs or Hire Developers</title>
<div class="container">
    <h1 class="text-center text-muted">Post React.js Jobs or Hire Developers</h1>
    <p><%= link_to "Post a Job - $29 for 30 days", new_user_registration_path(plan: @employer_plan.id), class: 'btn btn-primary btn-lg btn-block' %></p>
    <p><%= link_to "Developers - Create a Free Profile", new_user_registration_path(plan: @developer_plan.id), class: 'btn btn-default btn-lg btn-block' %></p>
    </br>
    <h1 class="text-center"><span style="color: #F38630">Browse All React.js Jobs</span></h1>
    <h4 class="text-center"><em>Showing all 70 Jobs</em></h4>
</div>