<div class="footer text-center">
</br>
  <p><b>We Work React was created by <u>Johnathan Smith</u> - <a href="https://github.com/Johnathans">Fork me on Github</a></b></p>
  <p><b>We Work React</b> is a job marketplace where employers looking for React.js Developers can post jobs and scout for <a href="#">talented Developers</a></p>
  <p><b>We Work React</b> is an independent entity and has not been authorized, sponsored, or otherwise approved by the <a href="https://facebook.github.io/react/">Facebook or Instagram Corporation</a></p>
</div>